.form-check-input:checked+.strike-on-check {
    text-decoration: line-through;
}

/* .blur-bg {
    position: absolute;
    background-size: 300;
    height: 270px;
    width: 100%;
    background: rgba(255, 255, 255, 0.257);
    -webkit-filter: blur(2px);
    filter: blur(3px);
    z-index: -1;
} */
.img270{
    /* height: 270px; */
    width: 300px;
}